<h1 class='wi'>Job history</h1>
<p class='intro'>Below is a list of recently executed jobs</p>
<table class='queues1'>
  <tr>
    <th>Job</th>
    <th>Arguments</th>
  </tr>
  <% Resque.redis.lrange(Resque::Plugins::History::HISTORY_SET_NAME, 0, -1).each do |history| %>
      <% j = JSON.parse(history) %>
      <tr>
        <td class='queue'><%= j["class"] %></td>
        <td class='args'><%= j["args"] %></td>
      </tr>
  <% end %>
</table>
